*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 100px;
}
  
.navbar-style{
    box-shadow: 0 5px 10px darkgrey;
     
}

.logo{
    height: 48px;
    padding: 2px 1px;
    float: left;
}

 

.description #heading{
    font-size: 49px;
    font-family: 'Niconne', cursive;
    text-align: center;
    color: whitesmoke;
    text-shadow: 20px 15px 5px lightslategray;
}

section{
        background:url(../img/moon.jpg);
}

.description p{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 27px;
    color: white;
}
 
.container{
    text-align: center;
    padding-top: 50px;
}

