*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 100px;
}
  
.navbar-style{
    box-shadow: 0 5px 10px black;
     
}

.logo{
    height: 48px;
    padding: 2px 10px;
}

.description #heading{
    font-size: 49px;
    font-family: 'Niconne', cursive;
    text-align: center;
    color: black;
    text-shadow: 20px 15px 5px lightslategray;
}

 
